# ===========================
# PostgreSQL Publisher
# ===========================
POSTGRES_PUBLICIST_USER=postgres
POSTGRES_PUBLICIST_PASSWORD=postgres
POSTGRES_PUBLICIST_DB=f1_raw

# ===========================
# PostgreSQL Subscriber
# ===========================
POSTGRES_SUBSCRIPTION_USER=postgres
POSTGRES_SUBSCRIPTION_PASSWORD=postgres
POSTGRES_SUBSCRIPTION_DB=f1_raw_subscriber

# ===========================
# ClickHouse
# ===========================
CLICKHOUSE_USER=f1user
CLICKHOUSE_PASSWORD=f1pass123
CLICKHOUSE_DB=f1_analytics

# ===========================
# Airflow
# ===========================
AIRFLOW_UID=50000