# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# dbt
# =========================
.dbt/
target/
dbt_packages/
logs/

# =========================
# Airflow
# =========================
airflow/logs/
airflow/__pycache__/

# =========================
# Metabase
# =========================
metabase/metabase.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# mypy
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/